<div class="my-4">
    <img src="./assets/img/seneam_banner.jpg" style="width:100%" alt="">
</div>
<div class="col" style="margin-top: 60px;">
    <h3>Blog</h3>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <img src="./assets/img/blog_banner.jpg" style="width: 100%;" alt="">
        </div>
        <div class="col">
            <p>jueves, 08 de octubre de 2020</p>
            <p class="title_banner">SENEAM 42 aniversario, transformando la navegación aérea</p>
            <p class="txt_banner">SENEAM 42 Aniversario</p>
            <p class="txt_banner"><a href="https://www.gob.mx/seneam/articulos/seneam-42-aniversario-transformando-la-navegacion-aerea?idiom=es">Continuar leyendo</a></p>
            <hr>
        </div>
    </div>
</div>